#card{
    box-shadow: 0 8px 16px 0 rgba(40, 40, 226, 0.623);
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 30px;
    padding: 45px 30px 30px 50px;
    margin: 100px;
    width: 410px;
    height: 500px;
}
#reset {
    margin: 30px -50px 0 10px;
}
input[type=button] {
    margin: 25px 10px 15px 0;
    border: 2px solid white;
    border-radius: 10px;
    width: 65px;
}
input[type=number]{
    width: 150px;
}
h1{
    padding: 0 0 30px 0;
}
ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: -33px;
}