fieldset {
    margin: 15px 0px 0px 20px;
    padding: 30px;
    width: 450px;
    border-color: cornflowerblue;
}
legend {
    color: rgb(49, 94, 179);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flexy {
    display: flex;
}
.float1 {
    justify-content: flex-start;
    width: 20%;
}
.float2 {
    justify-content: flex-start;
}