<div ngId="!isClientCreated">
    <h1>Create Client</h1>
</div>
<fieldset>
    <legend>Client Information</legend>
    <ul>
        <li>
            <label for="firstName"><span class="required">*</span>First Name</label><br>
            <input type="text" id="firstName" size="30">
        </li>
        <li>
            <label for="lastName"><span class="required">*</span>Last Name</label><br>
            <input type="text" id="lastName" size="30">
        </li>
        <li>
            <label for="category">Category</label>
            <input type="radio" id="individual" name="category" value="individual">
            <label for="individual">Individual</label>
            <input type="radio" id="business" name="category" value="business">
            <label for="business">Business</label>
        </li>
        <li>
            <label for="businessType">Business Type</label>
            <select id="businessType" name="businessType">
                <option value="none">Selet business type</option>
                <option value="commercial">Commercial</option>
                <option value="residential">Residential</option>
            </select>
        </li>
        <li>
            <label for="description">Description<br>
                <textarea id="description" cols="55" rows="5"></textarea>
            </label>
        </li>
        <li></li>
    </ul>
</fieldset>
<fieldset>
    <legend>Contact Information</legend>
    <ul>
        <li>
                <label for="streetAddress">Street Address</label><br>
                <input type="text" id="streetAddress" size="30">
        </li>
            <li>
                <label for="streetAddress2">Street Address 2</label><br>
                <input type="text" id="streetAddress2" size="30">
            </li>
            <li>
                <label for="city">City</label><br>
                <input type="text" id="city" size="30">
            </li>
            <li></li>
            <li>
                <label for="state">State</label><br>
                <input type="text" id="state" size="30">
            </li>
            <li>
                <label for="zipCode">Zip Code</label><br>
                <input type="number" id="zipCode" size="6">
            </li>
            <li></li><li></li>
            <li class="separated">
                <label for="phone">Phone</label><br>
                <input type="text" id="phone" size="20">
            </li>
            <li class="separated">
                <label for="email"><span class="required">*</span>Email</label><br>
                <input type="text" id="email" size="30">
            </li>
        </ul>
</fieldset>
<br>
<div class="submitDiv">
    <input id="submit" type="submit" onclick="validateClient(event)" value="Submit">
</div>
<div *ngif="isClientCreated">Hello new client!</div>