 <!-- 
    Using MDF/Model Driven Form approach,
    good for large projects.
    Uses predefined ngFormGroup and ngFormControl.
 -->   
    <h1>Schedule Meeting</h1><br>
    <form [formGroup]="meetForm" (ngSubmit)="schedMeet()">
        <fieldset>
            <legend>Meeting Details</legend>
            <table>
                <tr>
                    <td>
                        <label for="firstName">Client First Name</label><br>
                        <input type="text" id="firstName" size="30" formControlName="firstName">
                    </td>
                    <td>
                        <label for="lastName">Client Last Name</label><br>
                        <input type="text" id="lastName" size="30" formControlName="lastName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="meetDate"><span class="required">*</span>Date</label><br>
                        <input id="meetDate" type="date" formControlName="meetDate">
                    </td>
                    <td>
                        <label for="meetTime">Time</label><br>
                        <input id="meetTime" type="time" formControlName="meetTime">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">
                        <div>
                            <label for="note">Note<br>
                                <textarea id="note" cols="55" rows="5" formControlName="note"></textarea>
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
        <br>
        <div class="submitDiv">
            <input id="submit" type="submit" value="Submit">
        </div>
    </form>

