<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>fruit</param-name>
    <param-value>apple</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>RequestDispatcherDemo</display-name>
    <servlet-name>RequestDispatcherDemo</servlet-name>
    <servlet-class>com.request.dispatcher.servlets.RequestDispatcherDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcherDemo</servlet-name>
    <url-pattern>/RequestDispatcherDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.request.dispatcher.servlets.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet1</display-name>
    <servlet-name>SessionServlet1</servlet-name>
    <servlet-class>com.session.servlets.SessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet1</servlet-name>
    <url-pattern>/SessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet2</display-name>
    <servlet-name>SessionServlet2</servlet-name>
    <servlet-class>com.session.servlets.SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet2</servlet-name>
    <url-pattern>/SessionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet3</display-name>
    <servlet-name>SessionServlet3</servlet-name>
    <servlet-class>com.session.servlets.SessionServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet3</servlet-name>
    <url-pattern>/SessionServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventListenerDemo</display-name>
    <servlet-name>EventListenerDemo</servlet-name>
    <servlet-class>com.event.servlets.EventListenerDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventListenerDemo</servlet-name>
    <url-pattern>/EventListenerDemo</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.event.listeners.SessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>FilterDemo</display-name>
    <servlet-name>FilterDemo</servlet-name>
    <servlet-class>com.filter.servlets.FilterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterDemo</servlet-name>
    <url-pattern>/FilterDemo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidationFilter</display-name>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>com.filter.filters.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/ValidationFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <servlet-name>FilterDemo</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoGetDoPost</display-name>
    <servlet-name>DoGetDoPost</servlet-name>
    <servlet-class>com.get.post.servlets.DoGetDoPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoGetDoPost</servlet-name>
    <url-pattern>/DoGetDoPost</url-pattern>
  </servlet-mapping>
</web-app>