 /* fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
}

th, legend {
    font-weight: bold;
    font-size: 25px;
    color: cornflowerblue;
    padding: 10px 10px 15px 10px;
}

table {
    width: 100%;
    align-self: center;
}

td {
    text-align: left;
}

label {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    color: rgb(71, 80, 88);
    font-size: 20px;
}

h1 {
    color: rgb(71, 80, 88);
    text-align: center;
}

option {
    color: rgb(71, 80, 88);
}

input,
select {
    padding: 5px;
    margin: 5px 5px 5px 0px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: rgb(71, 80, 88);
    outline: none;
}

label textarea {
    vertical-align: top;
    margin-top: 5px;
    border: 1px solid #ccc;
    color: rgb(71, 80, 88);
    outline: none;
    border-radius: 6px;
}

#submit {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    color: rgb(71, 80, 88);
    font-weight: bold;
    font-size: medium;
    position: realative;
    display: block;
    margin: 0 auto;
}

.required {
    color: red;
}  */

td {
    text-align: left;
}